<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">INFORMACIÓN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/inicio">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Menú de Todo
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/creacion-de-proyecto">Creación de un Proyecto en Angular</a></li>
                      <li><a class="dropdown-item" href="/descripcion-de-paquetes-y-componentes">Descripción de los Paquetes y Componentes</a></li>
                      <li><a class="dropdown-item" href="/creacion-de-componentes-pipes-y-servicios">Creación de Páginas, Componentes, Pipes y Servicios</a></li>
                      <li><a class="dropdown-item" href="/pasos-para-subir-a-github">Pasos para Realizar la Copia del Código en Git</a></li>
                  </ul>
              </li>
          </ul>
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-light" type="submit">Buscar</button>
          </form>
      </div>
  </div>
</nav>
