<div class="guide-container">
  <h2>Pasos para Copiar el Código en Git</h2>
  <p>Sigue estos pasos para versionar tu código en Git:</p>
  <ol class="steps-list">
    <li>
      <strong>Inicializa un Repositorio Local:</strong>
      <p>Para empezar, dirígete a la carpeta de tu proyecto y ejecuta:</p>
      <code>git init</code>
    </li>
    <li>
      <strong>Añade todos los archivos al Repositorio:</strong>
      <p>Para agregar todos los archivos al repositorio, ejecuta:</p>
      <code>git add .</code>
    </li>
    <li>
      <strong>Realiza el Primer Commit:</strong>
      <p>Guarda los cambios con un mensaje descriptivo usando:</p>
      <code>git commit -m "Primer commit"</code>
    </li>
    <li>
      <strong>Conecta a un Repositorio Remoto:</strong>
      <p>Vincula tu repositorio local a un repositorio remoto utilizando:</p>
      <p>El mismo Gitgub te Proporciona un URL</p>
      <code>git remote add origin URL_DEL_REPOSITORIO</code>
    </li>
    <li>
      <strong>Sube Cambios al Servidor:</strong>
      <p>Finalmente, sube tus cambios al repositorio remoto:</p>
      <code>git push -u origin main  </code>
    </li>
  </ol>
</div>

