
<div class="main-title">
  <h1>¡Bienvenido a Tu Guía de Desarrollo en Angular!</h1>
  <p>Explora temas esenciales y aprende a dominar Angular de manera efectiva.</p>
</div>

<div class="grid-container">
  <div class="card">
      <h3>Proceso de Creación de un Proyecto</h3>
      <p>Aprende cómo iniciar un nuevo proyecto en Angular, desde la instalación hasta la ejecución de tu aplicación.</p>
      <a routerLink="/creacion-de-proyecto" class="card-button">Ver Más</a>
  </div>

  <div class="card">
      <h3>Paquetes y Componentes Estándares</h3>
      <p>Descubre los paquetes y componentes recomendados para mejorar tu desarrollo en Angular.</p>
      <a routerLink="/descripcion-de-paquetes-y-componentes" class="card-button">Ver Más</a>
  </div>

  <div class="card">
      <h3>Creación de Elementos en Angular</h3>
      <p>Conoce cómo crear componentes, pipes, servicios y páginas para estructurar tu aplicación.</p>
      <a routerLink="/creacion-de-componentes-pipes-y-servicios" class="card-button">Ver Más</a>
  </div>

  <div class="card">
      <h3>Copia del Código en Git</h3>
      <p>Sigue los pasos necesarios para versionar tu código y colaborar en proyectos usando Git.</p>
      <a routerLink="/pasos-para-subir-a-github" class="card-button">Ver Más</a>
  </div>
</div>

